<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- define e insere um favicon no documento HTML -->
    <link href="./img/python.ico" rel="shortcut icon">

    <title>Django - Projeto Final</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <!-- <script src="js/aula17.js" defer></script> -->
    <link href="../css/meu-estilo.css" rel="stylesheet">
</head>
<body>
    <header class="px-0">
        <div>
            <img src="../../../static/img/logo.png" class="img-fluid" width="100%">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light px-0 fundo">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Navegação Alternativa">
                Menu <span class="navbar-toggler-icon"></span>
            </button>

            <!-- menu -->
            <div class="collapse navbar-collapse" id="mynavbar">               
                <div class="navbar-nav text-start">
                    <a href="../../../pe_confortavel.html" class="nav-link"><img src="..\..\..\static\img\ico_inicio.png" width="100"></a>
                    <a href="../../../produtos/templates/produtos/cadastroProduto.html" class="nav-link"><img src="..\..\..\static\img\ico_produto.png" width="100"></a>
                    <a href="../../../clientes/templates/clientes/cadastroClientes.html" class="nav-link"><img src="..\..\..\static\img\ico_clientes.png" width="100"></a>
                    <a href="../../../fornecedores/templates/fornecedores/cadastroFornecedor.html" class="nav-link"><img src="..\..\..\static\img\ico_fornecedor.png" width="100"></a>
                    <a href="../../../venda/templates/venda/cadastroVenda.html" class="nav-link"><img src="..\..\..\static\img\ico_venda.png" width="100"></a>
                    <a href="../../../venda/templates/venda/listarVenda.html" class="nav-link"><img src="..\..\..\static\img\ico_listar.png" width="100"></a>
                    <a href="../../../contato/templates/contato/contato.html" class="nav-link"><img src="..\..\..\static\img\ico_contato.png" width="100"></a>
                </div>                        
            </div>
        </nav><hr class="hr">
        <div class="container text-center border-bottom border-primary text-center bg-light">    
            <div class="row mt-5">
                <div class="col">
                    <h1>Atualização da Venda</h1>
                </div>  
            </div>
        </div>
    </header>

    <main class="container m-2 w-75 mx-auto">
        <form action="formAtualizarVenda" method="POST" name="formAtualizarVenda" id="idFormAtualizarVenda">
            <div class="form-group">
                <label for='idNumero'>Número</label>
                <input class="form-control" type='text' id='idNumero' name='numero' placeholder='Informe o número' required>
            </div>
            <div class="form-group">
                <label for='idDVenda'>Data da Venda</label>
                <input class="form-control" type='date' id='idDvenda' name='data_venda' placeholder='Data da Venda' required>
            </div>
            <div class="form-group">
                <label for='idVvenda'>Valor da venda</label>
                <input class="form-control" type='number' id='idVvenda' name='valor_venda' placeholder='Informe o valor da venda' required>
            </div>
            <div class="form-group">
                <label for='idCcpf'>CPF do Cliente</label>
                <input class="form-control" type='text' id='idCcpf' name='cliente_cpf' placeholder='Número do CPF do cliente' required>
            </div>
            <div class="form-group">
                <label for='idVnumero'>Número da venda</label>
                <input class="form-control" type='number' id='idVnumero' name='venda_numero' placeholder='Número da venda' required>
            </div>
            <div class="form-group">
                <label for='idPcodigo'>Código do produto</label>
                <input class="form-control" type='number' id='idPcodigo' name='produto_codigo' placeholder='Código do produto' required>
            </div>
            <div class="form-group">
                <label for='idQt'>Quantidade</label>
                <input class="form-control" type='number' id='idQt' name='quantidade' placeholder='Informe a quantidade' required>
            </div>
            <div class="form-group">
                <label for='idPvenda'>Preço de venda</label>
                <input class="form-control" type='number' id='idPvenda' name='preco_venda' placeholder='Preço de Venda' required>
            </div>
            <div class='form-group text-center'>
                <input type='reset'  value='Limpar' class='btn btn-primary btn-md'>
                <input type='submit' value='Cadastrar' class='btn btn-primary btn-md' id="btnAtualizarVenda">
            </div>
        </form>
    </main>

    <footer class="container text-center">
        <div class="row border-top border-primary bg-light">
            <div class="col font text-primary copyright">
                <p>&copy; Copyright Pmg Web</p>
                <p>Fábio Anderson Alves Gonçalves & João Victor Cozza Vilhegas Fonseca</p>
                <p>E-mail: fabioandersonmarujo@gmail.com & joaovictorcozza19@gmail.com</p>
                <p>Curso de Programação em Python, SENAC RJ - Unidade de Botafogo</p>
                <p>Versão 1.0, Edição 2025</p>
            </div>
        </div>
    </footer>
    
    <!-- seu codigo termina aqui -->

    <!-- Bootstrap -->
    <!-- insira este conteudo do Bootstrap aqui, antes do fechamento do <body> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    
</body>
</html>