<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- define e insere um favicon no documento HTML -->
    <link href="./img/python.ico" rel="shortcut icon">

    <title>Django - Projeto Final</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- <script src="js/aula17.js" defer></script> -->
    <link href="../css/meu-estilo.css" rel="stylesheet">

    <!-- Prepara o modal com os dados a ser excluido -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modalExcluirVenda').on('show.bs.modal', function(event) {
                var descricao = $(event.relatedTarget).data('descricao');
                var urlExcluir = $(event.relatedTarget).data('url');
                $("#mensagemExclusao").html("Tem certeza que deseja EXCLUIR - <b>"+ descricao +"</b>?");

                $.fn.excluirVenda = function() {
                    var url = $(event.relatedTarget).data('url');
                    location.replace(url);
                }
            });
        
            $("#btnExcluir").on('click', function() {
                $.fn.excluirVenda();
                return false;
            });            
        });
    </script>

</head>

<body>

    <!-- seu codigo comeca aqui -->

    <header class="px-0">
        <div>
            <img src="../../../static/img/logo.png" class="img-fluid" width="100%">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light px-0 fundo">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Navegação Alternativa">
                Menu <span class="navbar-toggler-icon"></span>
            </button>

            <!-- menu -->
            <div class="collapse navbar-collapse" id="mynavbar">               
                <div class="navbar-nav text-start">
                    <a href="../../../pe_confortavel.html" class="nav-link"><img src="..\..\..\static\img\ico_inicio.png" width="100"></a>
                    <a href="../../../produtos/templates/produtos/cadastroProduto.html" class="nav-link"><img src="..\..\..\static\img\ico_produto.png" width="100"></a>
                    <a href="../../../clientes/templates/clientes/cadastroClientes.html" class="nav-link"><img src="..\..\..\static\img\ico_clientes.png" width="100"></a>
                    <a href="../../../fornecedores/templates/fornecedores/cadastroFornecedor.html" class="nav-link"><img src="..\..\..\static\img\ico_fornecedor.png" width="100"></a>
                    <a href="../../../venda/templates/venda/cadastroVenda.html" class="nav-link"><img src="..\..\..\static\img\ico_venda.png" width="100"></a>
                    <a href="../../../venda/templates/venda/listarVenda.html" class="nav-link"><img src="..\..\..\static\img\ico_listar.png" width="100"></a>
                    <a href="../../../contato/templates/contato/contato.html" class="nav-link"><img src="..\..\..\static\img\ico_contato.png" width="100"></a>
                </div>                        
            </div>
        </nav><hr class="hr">


    </header>

    <main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Venda</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Número</th>
                        <th>Data da Venda</th>
                        <th>Valor da Venda</th>
                        <th>CPF do Cliente</th>
                        <th>Número da venda</th>
                        <th>Código do Produto</th>
                        <th>Quantidade</th>
                        <th>Preço da venda</th>
                    </tr>
                </thead>

                <!-- linhas -->
                <tr>
                    <td> 1 </td>
                    <td> 21/10/2024 </td>
                    <td> 500,00 </td>
                    <td> 000.000.000-00 </td>
                    <td> 1054 </td>
                    <td> 1234567 </td>
                    <td> 1 </td>
                    <td> 500,00 </td>
                </tr>
                
            </table>

        </div>
        <!-- Modais -->

        <div class="modal fade" id="modalExcluirVenda" role="dialog" aria-labelledby="Confirmação" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">        
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p id="mensagemExclusao"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container text-center">
        <div class="row border-top border-primary bg-light">
            <div class="col font text-primary copyright">
                <p>&copy; Copyright Pmg Web</p>
                <p>Fábio Anderson Alves Gonçalves & João Victor Cozza Vilhegas Fonseca</p>
                <p>E-mail: fabioandersonmarujo@gmail.com & joaovictorcozza19@gmail.com</p>
                <p>Curso de Programação em Python, SENAC RJ - Unidade de Botafogo</p>
                <p>Versão 1.0, Edição 2025</p>
            </div>
        </div>
    </footer>

    <!-- fim do codigo HTML -->

    <!-- Bootstrap -->
    <!-- insira este conteudo do Bootstrap aqui, antes do fechamento do "body" -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

</body>

</html>